@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+TC:wght@100..900&display=swap&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Noto Sans TC", "IBM Plex Sans", sans-serif;
}

.ibm-plex-mono {
  font-family: "IBM Plex Mono", monospace;
}

a {
  font-family: "IBM Plex Mono", monospace;
  transition: background-color 0.2s ease-in-out;
  color: transparent;
  background-clip: text;
  background-color: black;
  font-weight: 600;
}

a:hover {
  background-image: linear-gradient(
    to right,
    #2563eb,
    #db2777
  ); /* blue-600 to pink-600 */
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
