::-webkit-scrollbar {
  width: 8px;
  background-color: #d1d1d1;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #04a799;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #02635b;
}

a {
  color: #04a799;
  font-weight: 500;
}

@mixin phone {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin pad {
  @media screen and (max-width: 1050px) {
    @content;
  }
}
