@import "./global.scss";

.page {
  padding: 30px 60px;

  @include phone {
    padding: 30px;
  }

  .page-section {
    margin: 0;

    h3 {
      font-size: 1.4rem;
      margin: 50px 0;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    p {
      line-height: 1.8;
    }

    ol,
    ul {
      padding-left: 20px;
      margin: 20px 0;
      li {
        color: #585858;
      }
    }

    @include phone {
      h3 {
        font-size: 1.2rem;
      }

      p {
        font-size: 0.8rem;
      }

      li {
        font-size: 0.8rem;
      }

      span {
        font-size: 0.8rem;
      }
    }
  }
}
